.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

.form-wrap{
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
}
.head-form{
  text-align: center;
  margin-bottom: 2rem;
}
}
